.base-button
  display: inline-block
  padding: 20px 20px
  color: #ffffff
  background: $base-orange-color
  text-decoration: none
  font-size: $font-size-button
  font-family: $roboto-regular
  box-shadow: 0px 15px 19.68px 4.32px rgba(0, 0, 0, 0.1)
  &:hover
    text-decoration: none