*
  box-sizing: border-box
html, body
  background: $color-background
  font-family: $roboto-light
  font-size: $font-size-base
  overflow-x: hidden
  line-height: 25px

.white-background
  background: #ffffff