.block-statistics
  font-size: 0
  padding: 30px 0
  width: 100vw
  position: relative
  margin-left: -50vw
  left: 50%
  &__item
    display: inline-block
    padding: 0 10px
    width: (100%/3)
    color: $base-orange-color
    text-align: center
    margin-bottom: 30px
  &__item-count
    font-size: 94px
    line-height: 100px
    font-family: $roboto-black
  &__item-title
    font-size: 16px
    line-height: normal