.block-services
  font-size: 0px
  line-height: 0
  padding: 60px 0
  //text-align: justify
  //text-justify: newspaper
  //text-align-last: justify
  //&:after
  //  width: 100%
  //  height: 0px
  //  visibility: hidden
  //  overflow: hidden
  //  content: ''
  //  display: inline-block
  &__item
    display: inline-block
    vertical-align: top
    line-height: normal
    padding: 0 10px
    text-align: center
    width: (100%/5)
  &__item-icon
    position: relative
    text-align: center
    border-radius: 50%
    border: 1px solid $color-base-blue
    width: 124px
    height: 124px
    margin: 0 auto
    svg
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      max-width: 100%
    img
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      max-width: 100%
  &__item-icon-svg
    fill: $base-orange-color
  &__item-title
    margin-top: 30px
    font-size: 18px
    line-height: 26px
    text-align: center