.block-about
  font-size: 0
  padding: 10px 0
  &__element
    display: inline-block
    vertical-align: middle
    position: relative
  &__description
    width: 51%
    padding: 20px 40px
    background: $color-base-blue
    margin-right: -1%
    z-index: 1
    &.dark-bg
      color: #ffffff
    &.light-bg
      color: $base-black-color
  &__image
    width: 50%
    height: 412px
    overflow: hidden
    img
      height: 100%
      width: auto
  &__button
    position: relative
    text-align: center
    margin-top: -20px
    z-index: 1