.container
  position: relative
  width: 1258px
  margin: 0 auto
  padding-left: 10px
  padding-right: 10px
.row
  margin-left: -10px
  margin-right: -10px
  +clearfix

$col-count: 6
$col-with: 100% / $col-count
@for $i from 1 through $col-count
  .column-#{$i}
    float: left
    padding-left: 10px
    padding-right: 10px
    width: $col-with * $i

  //.column-md-#{$i}
  //  +media-1080
  //    float: left
  //    padding-left: 12px
  //    padding-right: 12px
  //    width: $col-with * $i
  //
  //
  //.column-sm-#{$i}
  //  +media-750
  //    float: left
  //    padding-left: 12px
  //    padding-right: 12px
  //    width: $col-with * $i
  //
  //.column-xs-#{$i}
  //  +media-480
  //    float: left
  //    padding-left: 12px
  //    padding-right: 12px
  //    width: $col-with * $i

@for $i from 0 through $col-count
  .column-offset-left-#{$i}
    margin-left: $col-with * $i

//@for $i from 0 through $col-count
//  .column-sm-offset-left-#{$i}
//    +media-750
//      margin-left: $col-with * $i

//@for $i from 1 through $col-count
//  .column-offset-right-#{$i}
//    margin-right: $col-with * $i