.header
  font-size: 0
  background: #f1f0f6
  &__element
    display: inline-block
    vertical-align: middle
  &__logo
    line-height: 0
    max-width: 122px
    img
      max-width: 122px
  &__nav
    font-size: 0
  li
    display: inline-block
    font-size: 16px
    padding-top: 30px
    padding-bottom: 30px
    padding-left: 30px
    padding-right: 30px
    &:last-child
      padding-right: 0px
    &:first-child
      padding-left: 0px
  &__nav-item
    display: inline-block
    color: $base-black-color
    text-decoration: none