.main-banner
  padding: 110px 0
  width: 100vw
  position: relative
  margin-left: -50vw
  left: 50%
  background-position: center center
  background-size: cover
  color: #ffffff
  &:before
    content: ''
    display: block
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: #000000
    opacity: .08
  &__title
    color: #ffffff
  p
    font-size: 24px
    margin-bottom: 10px
  &__watch-link
    margin-top: 30px